<%- include('partials/header') %>

<body>
    <%- include('partials/navbar') %>

    <div class="container mt-4">
        <h1><%= question.title %></h1>
        <hr>
        <p><%= question.description %></p>
        <form method="post" action="/answer">
          <label><h3>Answer</h3></label>
          <textarea class="form-control mb-3" placeholder="Enter your answer" name="body"></textarea>
          <input type="hidden" name="question_id" value="<%= question.id %>">
          <button type="submit" class="btn btn-success">Answer</button>
        </form>

        <h3>Answers</h3>

        <% answers.forEach(answer => { %>
          <div class="card mb-2">
            <div class="card-body">
              <p><%= answer.body %></p>
            </div>
          </div>
        <% }) %>
      </div>
</body>

<%- include('partials/footer') %>